<header>
    <div class="container">
        <a routerLink="/" class="logo">Food Order</a>
        <a *ngIf="isAdminUser" routerLink="/users">User</a>
        <nav>
            <ul>
                <li *ngIf="isLoggedIn()==false"><a routerLink="/login">Đăng nhập</a></li>
                <li *ngIf="isLoggedIn()"><a routerLink="/login">Đăng Xuất</a></li>
                <li>
                    <a routerLink="/cart-page">Giỏ hàng <span>{{cart.totalFood}}</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>